*.pyc
.idea
.idea/
venv
__pycache__/
.cache
.coverage
logs
experiment/sine_regression/data
experiment/sine_regression/res
experiment/sine_regression/res_test
experiment/toy_class/data
experiment/toy_class/res
experiment/toy_class/res_test
experiment/uci/data
experiment/uci/res
experiment/uci/res_test
src/fig
src/tests

